<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>alexey's weather</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>

  <link rel="icon" href='https://scp-wiki.wdfiles.com/local--files/scp-527/fish.png'>

  <body>
<h1>alexey's weather</h1>
<h3>To see the weather, use the search bar below.</h3><br>

<form method="POST">

  <input type='text' id='city' name="city">
  <input type='submit' value='submit'>

</form>


</body>
  <adress>
    <footer>
      <br><br>
      <a href="https://github.com/chovsk24">alexey chechkovsky's code</a>
    </footer>
  </adress>
</html>

